[custom]
# language of your game
# can be DE or EN
language = DE
# multiplier for the sleep between actions. Increase if you have a low smartphone or bad internet
speed_multi =  1

# The path to your tesseract directory
tesseract_directory = D:\tesseract_ocr\tesseract

# selects the level you want to play
# can be 1,2 or 3
selected_raid = 3

# can be True or False
debug = 1

# how many rounds the bot should play
rounds = 10